<header id="challenge-header" class="site-header">
    <div class="lang-select">
        <select id="lang-select" class="btn-outline lang-select">
            {{ localemenu }}
        </select>
    </div>
    <a class="filledblock" href="../pages/index.html">
        Git-it
    </a>
    <div class="header-icons-overlay">
        <img src="../../../assets/git-it.png" alt="Git-it Old" class="app-icon old-icon" />
        <img src="../../../assets/new-icon.png" alt="Git-it New" class="app-icon new-icon" />
    </div>
    <span class="challenge-title">{{ pageTitle }}</span>
</header>


<script>
    var selector = document.getElementById('lang-select');
    selector.value = "{{ lang }}"
</script>